@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Azure Storage Challenge</h1>
    <p class="lead">Develop Azure Storage solutions</p>
</div>

<div class="row">
    @{
        int testType = (int)ViewBag.TestType;
        bool advanced = (bool)ViewBag.Advanced;
        if (advanced)
        {
            <input type="hidden" id="storageAccountConnectionString" value="@ViewBag.StorageAccountConnectionString" />
            <input type="hidden" id="sqlConnection" value="@ViewBag.SQLConnection" />
            <input type="hidden" id="mysqlConnection" value="@ViewBag.MySQLConnection" />
            <input type="hidden" id="cosmosdbSQLUri" value="@ViewBag.CosmosdbSQLUri" />
            <input type="hidden" id="cosmosdbSQLKey" value="@ViewBag.CosmosDBSQLKey" />
            <input type="hidden" id="cosmosdbTableAccount" value="@ViewBag.CosmosDBTableAccount" />
            <input type="hidden" id="cosmosdbTableKey" value="@ViewBag.CosmosDBTableKey" />
        }
    }
    <input type="hidden" id="testType" value="@testType" />
    <input type="hidden" id="advanced" value="@advanced" />
    @if ((testType & 3) > 0)
    {
        <div class="col-md-4">
            <h2>Storage Accounts</h2>
            <p>Test your code to upload and download files from a storage account.</p>
            @if (advanced)
            {
                <p>Set the following app settings in the web.config file:</p>
                <ul>
                    <li>storageAccountConnectionString</li>
                </ul>
                <p>Refresh this page then click the Test button to verify your results.</p>
            }
            else
            {
                <p>Enter the connection string for your storage account here:</p>
                <div class="form-group">
                    <label for="storageAccountConnectionString">Storage Account Connection String</label>
                    <input type="text" class="form-control" id="storageAccountConnectionString" />
                </div>
            }
            <button id="storageTest">Test</button>
        </div>
    }
    @if ((testType & 12) > 0)
    {

        <div class="col-md-4">
            <h2>Relational Databases</h2>
            <p>Test your code to read and write relational data.</p>
            @if (advanced)
            {
                <p>Set the following connection string(s) in the web.config file:</p>
                <ul>
                    @if ((testType & 4) == 4)
                    {
                        <li>SQLConnection</li>}
                    @if ((testType & 8) == 8)
                    {
                        <li>MySQLConnection</li>}
                </ul>
                <p>Refresh this page then click the Test button to verify your results.</p>
            }
            else
            {
                <p>Enter the connection string(s) for your relational data here:</p>
                if ((testType & 4) == 4)
                {
                    <div class="form-group">
                        <label for="sqlConnection">SQL Server connection string</label>
                        <input type="text" class="form-control" id="sqlConnection" />
                    </div>
                }
                if ((testType & 8) == 8)
                {
                    <div class="form-group">
                        <label for="mysqlConnection">MySQL connection string</label>
                        <input type="text" class="form-control" id="mysqlConnection" />
                    </div>
                }
            }
            <button id="sqlTest">Test</button>

        </div>
    }
    @if ((testType & 48) > 0)
    {

        <div class="col-md-4">
            <h2>NoSQL Data</h2>
            <p>Test your code to work with non-relational data</p>
            @if (advanced)
            {
                <p>Set the following app settings in the web.config file:</p>
                <ul>
                    @if ((testType & 16) == 16)
                    {
                        <li>cosmosdbSQLUri</li>
                        <li>CosmosDBSQLKey</li>

                    }
                    @if ((testType & 32) == 32)
                    {
                        <li>CosmosDBTableAccount</li>
                        <li>CosmosDBTableKey</li>

                    }
                </ul>
                <p>Refresh this page then click the Test button to verify your results.</p>
            }
            else
            {
                <p>Enter the account name and key for your No-SQL data here:</p>
                if ((testType & 16) == 16)
                {
                    <div class="form-group">
                        <label for="cosmosdbSQLUri">Cosmos DB SQL API account URI</label>
                        <input type="text" class="form-control" id="cosmosdbSQLUri" />
                    </div>
                    <div class="form-group">
                        <label for="cosmosdbSQLKey">Cosmos DB SQL API account key</label>
                        <input type="text" class="form-control" id="cosmosdbSQLKey" />
                    </div>

                }
                if ((testType & 32) == 32)
                {
                    <div class="form-group">
                        <label for="cosmosdbTableAccount">Cosmos DB Table API account name</label>
                        <input type="text" class="form-control" id="cosmosdbTableAccount" />
                    </div>
                    <div class="form-group">
                        <label for="cosmosdbTableKey">Cosmos DB Table API account key</label>
                        <input type="text" class="form-control" id="cosmosdbTableKey" />
                    </div>

                }
            }
            <button id="nosqlTest">Test</button>

        </div>
    }
</div>
<div class="container">
    <div class="col-md-5">
        <table class="table table-striped" id="results"></table>
    </div>
    <div class="col-md-5 col-md-offset-1">
        <div id="details"></div>
    </div>
</div>
@section scripts {
    <script src="~/Scripts/TestScript.js"></script>
}
